 *::selection {
     background-color: #0969da33
 }

 *,
 *::before,
 *::after {
     font-family: "Source Code Pro", "DejaVu Sans Mono";
     font-optical-sizing: auto;
     font-style: normal;
     font-size: 16px;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: 1em;
 }

 h1,
 h2,
 h3 {
     font-weight: bold;
 }

 h4,
 h5,
 h6 {
     font-style: italic;
 }

 .hidden-equal::after {
     content: "=";
     color: #0550ae;
     margin-left: 0.5rem;
 }

 .hidden-open-bracket::after {
     content: "{";
     color: #000000;
     margin-left: 0.5rem;
 }

 .hidden-close-bracket::after {
     content: "}";
     color: #000000;
 }

 .hidden-open-bracket-square::before {
     content: "[";
 }

 .hidden-close-bracket-square::after {
     content: "]";
 }

 .hidden-comma::after {
     content: ",";
 }

 .hidden-comma:last-child::after {
     content: "";
 }

 .list-equals {
     list-style-type: '+ ';
 }

 li::marker {
     color: #0550ae;
 }

 .name {
     position: absolute;
     line-height: 0;
     color: rgba(255, 255, 255, 0.1);
     font-size: 30px;
     margin-left: -50%;
     width: 100%;
     margin-top: 25px;
     color: rgba(255, 255, 255, 0.1);
     font-size: 30px;
 }

 @media print {
     @page {
         size: Letter;
         margin: 16px;
     }

     body {
         -webkit-print-color-adjust: exact;
         print-color-adjust: exact;
     }

     *,
     *::before,
     *::after {
         font-size: 12px;
     }

     .min-w-print-0 {
         min-width: 280px !important;
     }

     .name {
         margin-top: -10px;
         font-size: 20px;
     }
 }